@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .hero-area {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 0px 0px 30px 30px;
    margin-left: 50px;
  }
  .hero-content h1 {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    line-height: 40px;
  }
  .hero-right img {
    width: 300px;
    height: 300px;
  }
  .players {
    grid-template-columns: 1fr;
  }

  .country {
    grid-template-columns: 1fr;
  }

  .country ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
  }
  .highlights-area {
    padding: 50px 100px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .highlights-right iframe {
    width: 300px;
    height: fit-content;
  }
  .news {
    grid-template-columns: 1fr;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .players {
    grid-template-columns: 1fr 1fr;
  }

  .news {
    grid-template-columns: 1fr 1fr;
  }
}
